<h1>{{ current_project.name }}</h1>
<ul>
  {% for milestone in milestones %}
    <li>
      <a href="{{ path("issues", {
        "projectId": project_id,
        "milestoneId": milestone.id
      }) }}">
         {{ milestone.title }}
      </a>
    </li>
  {% endfor %}
  {% if milestones is empty %}
  <div>No milestones available</div>
  {% endif %}
</ul>

